*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Poppins, sans-serif;
    background: linear-gradient(4deg, #1360a75c, #00b4ff, #00000000);
    width: 100%;
    height: 100%;
}
.container {
    border: 1px solid black;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: linear-gradient(45deg, #1360a7, transparent);
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 350px;
    height: 240px;
    margin: auto;
    gap: 8px;
}
input {
    height: 52px;
    width: 100%;
    margin-top: 95px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    
}
.equal{
  grid-column: span 2;
}

h1{
  text-transform: uppercase;
  font-weight:lighter
}